body{
    --secondary-color : rgb(10 9 28);
    --secondary-active-color: #15122C;
    --secondary-hover-color: #23203F;
    --primary-color : rgb(255 255 255);
    --primary-hover-color: #C8C8C8;
    --primary-active-color: #9BA9BA;
    --card-color : white;
    --card-contour : grey;
    background-color: var(--secondary-color);
}
.content{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.content .card{
    margin-left: 4em;
    margin-bottom: 4em;
    flex: 3 1 25%;
    min-width: 10em;
    max-width: 25em;
    min-height: 10em;
    background-color: var(--card-color);
    border: 2px solid var(--card-contour);
    border-radius: 12px; 
}
.content .card .card-content{
    margin: 2em 2em 2em 2em;
}
.content .card h2{
    
    font-size: 24px;
    width: 80%;
    margin-left: 1em;
    padding-left: 1em;
    margin-right: 2em;
    color: var(--secondary-active-color);
    text-shadow: var(--secondary-hover-color) 1px 0 15px;
    border-bottom: 1px solid var(--secondary-active-color)
    
}
.content .card li{
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    color: var(--secondary-color);
}
.content .card .buy{
    text-align: center;
    font-size: 24px;
    color: var(--primary-color);
    border: 0 solid none;
    background-color: var(--secondary-color);
    border-radius: 32px;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
.content .card .buy:hover{
    background-color : var(--secondary-hover-color);
    cursor: pointer;
}